{% load static %}
<div class="container-grid">

    <div class="logo">

        <img src="{% static 'img/logo.png' %} " id="image_logo" width="40px" height="40px">

        <a href="#" id="logo_item">

            <span style="color: #f1c232ff;">

                WORLD

            </span>

            <span>

                ESTATE

            </span>

        </a>


    </div>

    <div class="user-topBar">



        <ul>
            <div class="A-TopBar">

                {% if user.is_authenticated %}
                <p>{{ user.username }}</p>
                <li>
                    <button id="A-TopBar2">

                       <a href="{% url 'password_change'%}">Change password</a> 

                    </button>
                </li> 
                <li>
                    <button id="A-TopBar3">
                       <a href="{% url 'logout' %}">Logout</a> 
                    </button>
                </li>
                

                {% else %}

                <form action="/users/login/" method="post">
                    {% csrf_token %}
                    <div class="UserAndPass">
                        <li>
                            <input type="text" name="username" placeholder="Username">
                        </li>
                        <input type="password" name="password" placeholder="Password">
                        </li>
                    </div>
                    <li>
                        <input type="submit" id="A-TopBar1" value=" LOG IN">
                </form>
                </li>
               <li>
                    <button id="A-TopBar2">
                       <a href="{% url 'password_reset'%}">Reset password</a> 
                    </button>
                </li>

                <li>
                    <form action="{% url 'signup' %}">
                        <button id="A-TopBar3">

                            Sigh up

                        </button>
                    </form>
                </li>

            </div>
            {% endif %}

        </ul>
        </form>

    </div>

</div>

</div>

<div class="MenuAndContant">
    <div class="MenuAndContant-grid">
        <div class="MenuLeftNavbar" style="scrollbar-width: 20px;">

            <div id="Menu-Item">

                <div>
                    <a href="{% url 'home' %}" id="Menu_Left-item1">
                        <span>

                            HOME

                        </span>
                    </a>
                </div>

                <div>
                    <a href="#" id="Menu_Left-item">
                        <span>

                            INVESTER

                        </span>
                    </a>
                </div>

                <div>
                    <a href="#" id="Menu_Left-item">
                        <span>

                            SELLER

                        </span>
                    </a>
                </div>

                <div>
                    <a href="#" id="Menu_Left-item">
                        <span>

                            ABOUT

                        </span>
                    </a>
                </div>

            </div>

            <div class="Menu-Item-CONTACT">

                <div>
                    <a href="#" id="Menu-Item-CONTACT1">
                        <span>

                            CONTACT

                        </span>
                    </a>

                </div>

            </div>

        </div>