{% load static %}
<!-- <div class="container-grid">

    <div class="logo">

        <img src="{% static 'img/logo.png' %} " id="image_logo" width="40px" height="40px">

        <a href="#" id="logo_item">

            <span style="color: #f1c232ff;">

                WORLD

            </span>

            <span>

                ESTATE

            </span>

        </a>


    </div>

    <div class="user-topBar">



        <ul>
            <div class="A-TopBar">

                {% if user.is_authenticated %}
                <p>{{ user.username }}</p>
                <li>
                    <button id="A-TopBar2">

                       <a href="{% url 'password_change'%}">Change password</a> 

                    </button>
                </li> 
                <li>
                    <button id="A-TopBar3">
                       <a href="{% url 'logout' %}">Logout</a> 
                    </button>
                </li>

                {% else %}

                

                <form action="/users/login/" method="post">
                    {% csrf_token %}
                    <div class="UserAndPass">
                        <li>
                            <input type="text" name="username" placeholder="Username">
                        </li>
                        <input type="password" name="password" placeholder="Password">
                        </li>
                    </div>
                    <li>
                        <input type="submit" id="A-TopBar1" value=" LOG IN">
                </form>
                </li>
               <li>
                    <button id="A-TopBar2">
                       <a href="{% url 'password_reset'%}">Reset password</a> 
                    </button>
                </li>

                <li>
                    <form action="{% url 'signup' %}">
                        <button id="A-TopBar3">

                            Sigh up

                        </button>
                    </form>
                </li>

            </div>

            {% endif %}

        </ul>
        </form>

    </div>

</div>

</div>

<div class="MenuAndContant">
    <div class="MenuAndContant-grid">
        <div class="MenuLeftNavbar" style="scrollbar-width: 20px;">

            <div id="Menu-Item">

                <div>
                    <a href="{% url 'home' %}" id="Menu_Left-item1">
                        <span>

                            HOME

                        </span>
                    </a>
                </div>

                <div>
                    <a href="#" id="Menu_Left-item">
                        <span>

                            INVESTER

                        </span>
                    </a>
                </div>

                <div>
                    <a href="{% url 'selling_list' %}" id="Menu_Left-item">
                        <span>

                            SELLER

                        </span>
                    </a>
                </div>

                <div>
                    <a href="#" id="Menu_Left-item">
                        <span>

                            ABOUT

                        </span>
                    </a>
                </div>

            </div>

            <div class="Menu-Item-CONTACT">

                <div>
                    <a href="#" id="Menu-Item-CONTACT1">
                        <span>

                            CONTACT

                        </span>
                    </a>

                </div>

            </div>

        </div>
 -->
 
 <div id="overlayer"></div>
 <div class="loader">
   <div class="spinner-border text-primary" role="status">
     <span class="sr-only">Loading...</span>
   </div>
 </div> 

 <div class="site-wrap" id="home-section">

   <div class="site-mobile-menu site-navbar-target">
     <div class="site-mobile-menu-header">
       <div class="site-mobile-menu-close mt-3">
         <span class="icon-close2 js-menu-toggle"></span>
       </div>
     </div>
     <div class="site-mobile-menu-body"></div>
   </div>
 

 <nav  class="site-navbar js-sticky-header site-navbar-target" role="banner" style="background: rgb(10, 10, 43);">

    <div class="container">
      <div class="row align-items-center position-relative">


        <div class="site-logo">
          <a href="{% url 'home' %}" class="text-black"><span class="text-warning">World Estate</a>
        </div>

        <div class="col-12">
          <nav class="site-navigation text-right ml-auto " role="navigation">

            <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
              <li><a href="{% url 'home' %}" class="nav-link" ><p style="color: rgb(255, 255, 255);"><b>Home</b></p></a></li>
              <li><a href="{% url 'selling_list' %}" class="nav-link"><p style="color: rgb(255, 255, 255);"><b>SelleList</b></p></a></li>

              {% if user.is_authenticated %}

              <li class="has-children">
                <a href="{% url 'home' %}" class="nav-link"> <p style="color: rgb(255, 255, 255);"><b>Hi {{ user.username }}</b></p></a>
                <ul class="dropdown arrow-top">
                  <li><a href="{% url 'password_change'%}"><i class="fas fa-chevron-right"></i> Change password</a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i> My Seiiing</a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i> Auction history</a></li>
                </ul>
              </li>
              <!-- <a href="{% url 'password_change'%}">Change password</a>  -->
              <li><button type="button" class="btn btn-danger" ><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a> </button></li>
              {% else %} 
              <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop"><i class="fas fa-sign-out-alt"></i> Login</button></li>
              <li>
                  <form action="{% url 'signup' %}">
                    <button type="submit" class="btn btn-info" ><i class="fas fa-user-plus"></i> Signup</button>
                  </form>
            </li>
              {% endif %}

            </ul>
            
          </nav>

        </div>

        <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
      </div>
    </div>

  </nav >


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/users/login/" method="post">
                {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>  
            <button type="submit" class="btn btn-primary  btn-block">Login</button>
        </form>
            <center><a href="{% url 'password_reset'%}">Reset password</a> </center>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>

 