{% load static %}
<div class="container-grid" id="navbar">

    <div class="logo">

        <!-- <img src="{% static 'img/logo.png' %} " id="image_logo" width="40px" height="40px"> -->

        <a href="#" id="logo_item">

            <span style="color: #f1c232ff;">

                WORLD

            </span>

            <span>

                ESTATE

            </span>

        </a>


    </div>

    <div class="user-topBar">

        <ul>
            <div class="A-TopBar">

                {% if user.is_authenticated %}

                <div class="dropdown">
                    <button class="dropbtn">

                        {{ user.username }}

                    </button>

                    <div class="dropdown-content">
                        <a href="#" style="text-decoration: none;">

                            My profile

                        </a>

                        <a href="{% url 'password_change'%}" style="text-decoration: none;">

                            Change password

                        </a>

                        <a href="#" style="text-decoration: none;">

                            Link 3
                        </a>

                    </div>
                </div>

                <li>
                    <a href="{% url 'logout' %}" id="A-TopBar1">

                        <span>

                            Logout

                        </span>
                    </a>
                </li>


                {% else %}

                <form action="/users/login/" method="post">
                    {% csrf_token %}
                    <div class="UserAndPass">

                        <li>
                            <input type="text" name="username" placeholder="Username">
                        </li>

                        <li>
                            <input type="password" name="password" placeholder="Password">
                        </li>

                        <li>
                            <input type="submit" id="A-TopBar1" value=" LOG IN">
                        </li>

                    </div>

                </form>

                <li>
                    <!-- <button id="A-TopBar2"> -->
                    <a href="{% url 'password_reset'%}" id="A-TopBar2">
                        <span>

                            Reset password

                        </span>
                    </a>
                    <!-- </button> -->
                </li>

                <li>
                    <form action="{% url 'signup' %}">
                        <button id="A-TopBar3">

                            Sigh up

                        </button>
                    </form>
                </li>

            </div>
            {% endif %}

        </ul>
        </form>

    </div>

</div>

<div class="BrTopBarAndMenu">

</div>


<div class="MenuAndContant">
    <div class="MenuAndContant-grid">
        <div class="MenuLeftNavbar" style="scrollbar-width: 20px;">

            <div id="Menu-Item">

                <div>
                    <a href="{% url 'home' %}" id="Menu_Left-item1">
                        <span>

                            HOME

                        </span>
                    </a>
                </div>

                <div>
                    <a href="#" id="Menu_Left-item">
                        <span>

                            INVESTER

                        </span>
                    </a>
                </div>

                <div>
                    <a href="#" id="Menu_Left-item">
                        <span>

                            SELLER

                        </span>
                    </a>
                </div>

                <div>
                    <a href="#" id="Menu_Left-item">
                        <span>

                            ABOUT

                        </span>
                    </a>
                </div>

            </div>

            <div class="Menu-Item-CONTACT">

                <div>
                    <a href="#" id="Menu-Item-CONTACT1">
                        <span>

                            CONTACT

                        </span>
                    </a>

                </div>

            </div>

        </div>

        <script>
            window.onscroll = function() {
                myFunction()
            };

            var navbar = document.getElementById("navbar");
            var sticky = navbar.offsetTop;

            function myFunction() {
                if (window.pageYOffset >= sticky) {
                    navbar.classList.add("sticky")
                } else {
                    navbar.classList.remove("sticky");
                }
            }
        </script>