{% extends 'base.html' %} 
{% load humanize %}
{% block content %} 
<style>
/* CSS for Carousel Asset Image */

.blog .carousel-indicators {
	  left: 0;
	  top: auto;
    bottom: -50px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #707070;
}
</style>

<style>
    #clockdiv {
        font-family: sans-serif;
        color: rgb(0, 0, 0);
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size: 24px;
    }
   
    #clockdiv>div {
        padding: 10px;
        border-radius: 3px;
        background: #FFF3CD;
        display: inline-block;
    }
   
    #clockdiv div>span {
        padding: 15px;
        border-radius: 3px;
        background: rgb(245, 225, 161);
        display: inline-block;
    }
   
    smalltext {
        padding-top: 5px;
        font-size: 24px;
    }
</style>


<script>
    var deadline = new Date({{ selling.duedate|date:"U"}} * 1000);
    deadline = (Date.parse(deadline) / 1000);

    var x = setInterval(function () {

        var now = new Date();
        now = (Date.parse(now) / 1000);

        var t = deadline - now;

        var days = Math.floor(t / 86400);
        var hours = Math.floor((t - (days * 86400)) / 3600);
        var minutes = Math.floor((t - (days * 86400) - (hours * 3600)) / 60);
        var seconds = Math.floor((t - (days * 86400) - (hours * 3600) - (minutes * 60)));

        document.getElementById("day").innerHTML = days;
        document.getElementById("hour").innerHTML = hours;
        document.getElementById("minute").innerHTML = minutes;
        document.getElementById("second").innerHTML = seconds;

        if (t < 0) {
            clearInterval(x);
            document.getElementById("day").innerHTML = "0";
            document.getElementById("hour").innerHTML = "0";
            document.getElementById("minute").innerHTML = "0";
            document.getElementById("second").innerHTML = "0";
        }



    }, 1000);
</script>



<!-- Asset Details -->
<div class="container"><br>
    <h3>{{ selling.title }} (Details)</h3>

    {% if user.is_authenticated %}
        {% if selling.duedate|date:"U" <= selling.today|date:"U" %}
            
        {% else %}
            <div class="float-right">
            <button type="button" class="btn btn-danger btn-lg"> <a href="{% url 'selling_auction_create' selling.pk %}">AUCTION</a></button>
            </div>
        {% endif %}
    {% else %}
    <div class="float-right">
        <p style="color:red"> Please Login before Bid !!</p>
      </div> 
    {% endif %}

    <p>(Date) : {{ selling.date }}</p>
    <p><b>Detail 1 :</b> {{ selling.body }}</p>
    <p><b>Detail n :</b> The navbar-brand class is used to highlight the brand/logo/project name of your page.</p><br>
    
    
    <center>
        {% if selling.duedate|date:"U" <= selling.today|date:"U" %}
        <p style="color:red">Time Out</p>
        <p><i class="fas fa-trophy"></i> The Winner is {{ selling.asset_auctions.all.0.author }} : {{ selling.asset_auctions.all.0.auction_price | intcomma }}</p>
        {% endif %}

        <p>
        <div id="clockdiv">
            <div>
                <span class="days" id="day"></span>
                <div class="smalltext">Days</div>
            </div>
            <div>
                <span class="hours" id="hour"></span>
                <div class="smalltext">Hours</div>
            </div>
            <div>
                <span class="minutes" id="minute"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div>
                <span class="seconds" id="second"></span>
                <div class="smalltext">Seconds</div>
            </div>
        </div>
        </p>
        
    </center>
  

  <div class="row blog">
                <div class="col-md-12">
                  
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    {% for img in selling.asset_images.all %}
                                    <div class="col-md-3">
                                        <a href="/media/{{ img.image }}">
                                            <img src="/media/{{ img.image }}" alt="Image" width="280" height="200">
                                        </a>
                                    </div>
                                    {% endfor %}
                                    <!-- <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div> -->
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->
                            <!-- <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
           
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>

                                </div>
                                
                            </div> -->
                            
                        </div>
                        <!--.carousel-inner-->
            </div>
</div><br><br>
  
  <!-- Auctioning Order List (Create Auction List)-->
    <table class="table">
    <thead class="thead-dark">
      <tr style="text-align: center">
        <th scope="col">#</th>
        <th scope="col">Bidder</th>
        <th scope="col">Auction Price</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
        {% for auction in selling.asset_auctions.all %}
      <tr style="text-align: center">
        <th scope="row">{{ auction.id }}</th> <!-- Set ( i++ ) in for loop -->
        <td>{{ auction.author }}</td>
        <td>{{ auction.auction_price | intcomma }}฿</td>
        <td>{{ auction.date }}</td>
      </tr>
      {% endfor %}
    </tbody>
   </table>
  
{% endblock content %} 


